<div class="main-container">

  <div class="title">
    <div class="full-title-craft">
      <%= render "shared/title-craftpeople" %>
    </div>
  </div>

  <div class="search-header">
    <%= render "shared/craft_carousel" %>
    <div class="search-form-services box">
    </div>
  </div>

  <div class="service-content-center">
    <% @services.each do |service| %>
      <% profile=false %>
      <%= render "shared/service-card", service: service, profile: profile %>
    <%end%>
  </div>

</div>

<div class="map">
  <%= render "shared/map"%>
</div>
