<div class="main-container">

  <h1>Craftspeople</h1>
  <div class="service-content-center">

      <% @services.each do |service| %>
          <% profile=false %>
          <%= render "shared/service-card", service: service, profile: profile %>
        <%end%>


  </div>
</div>

<div class="map">
  <%= render "shared/map"%>
</div>
