<div class="main-container">

  <div class="title">
    <div class="full-title-craft">
      <%= render "shared/title-craftpeople" %>
    </div>
  </div>


  <div data-controller="search-form">

    <div class="search-header">
      <%= render "shared/craft_carousel" %>
        <div class="intro-form box">
            <%= render "shared/service-search-form" %>
      </div>
    </div>
        <%= render "list" %>
  </div>



</div>
