  <h1>Post an AD</h1>




<form accept-charset="UTF-8" action="/@service" method="get">

  <label for="title">Title:</label>
  <input id="title" name="title" type="text" />
  <label for="description">Description:</label>
  <input id="title" name="title" type="text" />
  <input name="commit" type="submit" value="Post" />
</form>
