<div class="container">

  <h1>Services Show</h1>

    <p>Craft: <%= @service.craft %></p>
    <p>Description: <%= @service.description %></p>
    <p>Price: <%= @service.price %></p>
    <p>Address: <%= @service.address %></p>

</div>
