// Define variables for your color scheme

// For example:
/* $red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4; */

$black: #0E0000;
$dark-gray: #606060;
$grey: #ADADAD;
$light-gray: #D8D8D8;
$white: #FFFFFF;
$dark-green: #0A4113;
$green: #007A14;
$light-green: #00C920;
$darker-green: #062D0C;
$green-turquoise: #137E58;
$pale-green: #D5EAE2;
$lighter-gray: #F0F0F0;
$pink: #B325BF;
$purple: #870A9B;
$dark-blue: #050B43;
