<div class="main-container">

  <div class="full-title-junk">
      <%= render "shared/title-market" %>
  </div>

  <div class="index-cards-list">
    <%= render "shared/junk-card", junks: @junks %>
  </div>
</div>

<div class="map">
  <%= render "shared/map"%>
</div>
