// Specific CSS for your home-page


.banner {
  margin-bottom: 57px;
  img {
    background-size: cover;
    background-position: center;
    width: 100%;
    height: 100%;
  }
}

.banner-content {

}

// @media (min-width: 480px) {
//   .banner { height: 300px; }
// }

// @media (min-width:620px) {
//   .banner { height: 420px; }
// }

// @media (min-width: 768px) {
//   .banner { height: 550px; }
// }

// @media (min-width: 992px) {
//   .banner { height: 700px; }
// }

.container-home {
  margin-left: 100px;
  margin-right: 100px;
}

.intro-description {
  width: 600px;
  height: 340px;
}
