.title {
  margin-top: 100px;
  margin-bottom: 70px;
}

.junk-search-bar {
  display: flex;
  justify-content: center;
  padding-bottom: 40px;

  .intro-form {
    height: 220px;
    width: 950px;
  }

  .form .primary-button-1 {
    width: 120px;
    position: unset;
    bottom: -10px;
    right: 0px;
  }
}

.index-cards-list {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
  justify-items: center;
}

// @media(max-width: 992px) {
//   .cards {
//     grid-template-columns: 1fr 1fr;
//   }
// }

// @media(max-width: 768px) {
//   .cards {
//     grid-template-columns: 1fr;
//   }
// }

#price-donation-search {
  display: flex;
  justify-content: space-around;
  align-items: baseline;

}
