.junk-form-content {
  display: flex;
  gap: 50px;
  justify-content: center;
  margin-top: 60px;
}

.junk-form-left-content {
  // display: flex;
  margin-top: 100px;

}


.junk-form-right-content {
  width: 500px;
  height: 600px;
}

.junk-form-price {
  display: flex;
  align-items: center;
  gap: 35px;
}

.junk-form-address {
  display: flex;
  align-items: center;
  gap: 35px;
}

.junk-form-box-length-sm {
  width: 255px;
}

.junk-form-box-length-med {
  width: 340px;
}
