.title {
  margin-top: 100px;
  margin-bottom: 70px;
}

.full-title-craft {
  margin-left: 0;
}

.service-content-center {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.search-header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.search-form-services {
  width: 600px;
  height: 230px;
}
