.profile-header {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    margin-left: 140px;
    font-family: $body-font;
    font-size: 16px;
    color: black;
  }
}

.user-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  .username {
    margin-left: 15px;
    font-family: $headers-font;
    font-size: 40px;
    font-weight: bold;
    color: $pale-green;
  }
}

.user-info {
  margin-bottom: 57px;
}

.service-box {
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title-accordeon {
  font-family: $body-font;
  font-size: 30px;
  font-weight: bold;
  color: $green;
  width: 100%;
}

.junk-box {
  margin-bottom: 57px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.junk-list {
  display: grid;
}
