.profile-header {
  margin-top: 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.links {
  display: flex;
  flex-direction: row;
  align-items: center;
  a {
    margin-left: 140px;
    font-family: $body-font;
    font-size: 16px;
    color: black;
  }
}

.user-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  .username {
    margin-left: 15px;
    font-family: $headers-font;
    font-size: 40px;
    font-weight: bold;
    color: $pale-green;
  }
}

.user-info {
  margin-top: 30px;
  margin-bottom: 40px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.profile-box{
  padding: 8px;
  border: 1px solid #ADADAD;
  border-radius: 5px;
  margin: 0;
  margin-bottom: 10px;
}

.user-bio-scrollable {
  height: 150px;
  overflow: auto;
  overflow-y: scroll;
}

.address-box {
  width: 350px;
  p {
    font-weight: 400;
    font-size: 15px;
    font-family: $body-font;
  }
}

.specialty-box, .craft-box {
  height: 100px;
  a, span {
    padding: 3px 7px;
    margin: 3px;
    line-height: 30px;
  }
}

.title-accordeon {
  font-family: $body-font;
  font-size: 30px;
  font-weight: bold;
  color: $green;
  width: 100%;
}

.list-services-profile {
  display: flex;
  justify-content: center;
}

.list-junks-profile {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
  gap: 30px;
}
