<div class="slider">
	<input type="radio" name="testimonial" id="t-1">
	<input type="radio" name="testimonial" id="t-2">
	<input type="radio" name="testimonial" id="t-3" checked>
	<input type="radio" name="testimonial" id="t-4">
	<input type="radio" name="testimonial" id="t-5">
	<input type="radio" name="testimonial" id="t-6">
	<input type="radio" name="testimonial" id="t-7">
	<input type="radio" name="testimonial" id="t-8">
	<input type="radio" name="testimonial" id="t-9">
	<div class="testimonials">
		<label class="item" for="t-1">
			<% image_tag("icons/house.png", alt: "icon craft houseware") %>
			<h2>Houseware</h2>
		</label>
		<label class="item" for="t-2">
      <% image_tag("icons/ceramic.png", alt: "icon craft Ceramics and glass") %>
			<h2>Ceramics and glass</h2>
		</label>
		<label class="item" for="t-3">
      <% image_tag("icons/textile.png", alt: "icon craft Fibre and textil") %>
			<h2>Fibre and textile</h2>
		</label>
		<label class="item" for="t-4">
      <% image_tag("icons/flower.png", alt: "icon craft Flower & garden") %>
			<h2>Flower & garden</h2>
		</label>
		<label class="item" for="t-5">
      <% image_tag("icons/leather.png", alt: "icon craft Leatherwork") %>
			<h2>Leatherwork</h2>
		</label>
    <label class="item" for="t-6">
      <% image_tag("icons/metal.png", alt: "icon craft Metal") %>
			<h2>Metal</h2>
		</label>
    <label class="item" for="t-7">
      <% image_tag("icons/rock.png", alt: "icon craft Stone") %>
			<h2>Stone</h2>
		</label>
    <label class="item" for="t-8">
      <% image_tag("icons/wood.png", alt: "icon craft Wood and furniture") %>
			<h2>Wood and furniture</h2>
		</label>
    <label class="item" for="t-9">
      <% image_tag("icons/paper.png", alt: "icon craft paper") %>
			<h2>Paper</h2>
		</label>
	</div>
	<div class="dots">
		<label for="t-1"></label>
		<label for="t-2"></label>
		<label for="t-3"></label>
		<label for="t-4"></label>
		<label for="t-5"></label>
		<label for="t-6"></label>
		<label for="t-7"></label>
		<label for="t-8"></label>
		<label for="t-9"></label>
	</div>
</div>
