<div class="footer">
  <%= image_tag("logo.png", class: 'logo') %>
  <div class="content">
    <p>This website was created with passion in 4 weeks (part-time) by 3 <a href="https://www.lewagon.com/" class="link-light"><u>Le Wagon</u></a> students:</p>
    <div class="cards">
      <div class="footer-card">
        <%= image_tag("aang.jpg", class: 'avatar') %>
        <p class="text-nowrap">Francis Servignat</p>
        <div class="icons">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
      <div class="footer-card">
        <%= image_tag("kylian-avatar.jpg", class: 'avatar') %>
        <p class="text-nowrap">Kylian Janssens</p>
        <div class="icons">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
      <div class="footer-card">
        <%= image_tag("aang.jpg", class: 'avatar') %>
        <p class="text-nowrap">Sunny Law</p>
        <div class="icons">
          <i class="fa-brands fa-linkedin"></i>
          <i class="fa-brands fa-github"></i>
        </div>
      </div>
    </div>
  </div>
</div>
