<div class="footer">
  <%= image_tag("logo.png", class: 'logo') %>
  <div class="content-footer">
    <p>This website was created with passion in 4 weeks (part-time) <br>by 3 <a href="https://www.lewagon.com/" class="link-light"><u>Le Wagon</u></a> students:</p>
    <div class="cards">
      <div class="footer-card">
          <div class="img-icons">
            <%= image_tag("francis-avatar.jpg", class: 'avatar') %>
            <div class="icons">
              <a href="https://www.linkedin.com/in/francis-servignat/"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/fservignat"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        <p class="text-nowrap">Francis Servignat</p>
      </div>
      <div class="footer-card">
          <div class="img-icons">
            <%= image_tag("kylian-avatar.jpg", class: 'avatar') %>
            <div class="icons">
              <a href="your link here"><i class="fa-brands fa-linkedin"></i></a>
              <a href="your link here"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        <p class="text-nowrap">Kylian Janssens</p>
      </div>
      <div class="footer-card">
          <div class="img-icons">
            <%= image_tag("sunny-avatar.jpg", class: 'avatar') %>
            <div class="icons">
              <a href="www.linkedin.com/in/sunny-law-140bb825"><i class="fa-brands fa-linkedin"></i></a>
              <a href="https://github.com/ZonyLaw"><i class="fa-brands fa-github"></i></a>
            </div>
          </div>
        <p class="text-nowrap">Sunny Law</p>
      </div>
    </div>
  </div>
</div>
