<div class="banner">
  <%= image_tag("https://res.cloudinary.com/dfkgih0bp/image/upload/v1669382762/development/ValueJunk/internal%20img%20%28website%20itself%29/images/banner-full_faklzn.png") %>
  <div class="banner-search">
  </div>
</div>




<div class="container-home">
    <div class="junk-home-box">
      <div class="junk-home-cards">

      </div>
    </div>


  <%= link_to "Search", junks_path %>
  <%= link_to "Collaborate", services_path %>
</div>
