<body id="projects-index-background">

  <div class="main-container">

    <div class="full-title-projects text-center title">
      <%= render "shared/title-projects" %>
    </div>




  </div>
</div>
