.primary-button-1 {
  /* green button */
  width: 106px;
  height: 39px;
  left: 273px;
  top: 225px;

  background: #007A14;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.primary-button-2 {
  /* green turquoise */

  width: 130px;
  height: 41px;
  left: 167px;
  top: 282px;
  background: #137E58;
  border-radius: 5px;
}

.primary-button-3 {
  /* green gradient */
  width: 190px;
  height: 53px;
  left: 167px;
  top: 469px;

  background: linear-gradient(180deg, #137E58 0%, #0A4113 100%);
  border-radius: 10px;
}

.secondary-button-1 {
  /* large pale green */
  width: 120px;
  height: 41px;
  left: 287px;
  top: 550px;


  background: #D5EAE2;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.secondary-button-2 {
  /* medium pale green */

  width: 91px;
  height: 23px;
  left: 167px;
  top: 618px;

  background: #D5EAE2;
  border-radius: 3px;
}

.secondary-button-3 {
  /* small pale green */

  width: 93px;
  height: 16px;
  left: 167px;
  top: 655px;

  background: #D5EAE2;
  border-radius: 3px;
}
