.primary-button-1 {
  /* green button search form */
  padding: 8px 30px;
  text-align: center;
  text-decoration: none !important;
  background: #007A14;
  border-radius: 10px;
  color: white !important;
  font-weight: 700;
}

.primary-button-2 {
  /* green turquoise place an ad */

  padding: 8px 15px;
  background: #137E58;
  border-radius: 5px;
  text-decoration: none !important;
  color: white !important;
  font-weight: 700;

  &:hover {
    background: #007A14;
  }
}

.primary-button-3 {
  /* green gradient search */

  padding: 10px 35px;
  text-decoration: none !important;
  color: white !important;
  font-weight: 700;
  background: linear-gradient(180deg, #137E58 0%, #0A4113 100%);
  border-radius: 10px;
  font-size: 20px;
}

.secondary-button-1 {
  /* large pale green cancel */
  padding: 10px 35px;
  text-decoration: none !important;
  color: darkgray !important;
  font-weight: 700;
  background: #D5EAE2;
  border-radius: 10px;
}

.secondary-button-2 {
  /* medium pale green volunteer */
  padding: 6px 15px;
  text-decoration: none !important;
  color: darkgray !important;
  font-weight: 700;
  font-size: small;
  background: #D5EAE2;
  border-radius: 3px;
}

.secondary-button-3 {
  /* small pale green delivery possible */

  padding: 2px 12px;
  text-decoration: none !important;
  color: darkgray !important;
  font-weight: 700;
  background: #D5EAE2;
  border-radius: 3px;
  font-size: x-small;
  width: 130px;
  margin: 0;
}
