.button-green {
  position: absolute;
  width: 106px;
  height: 39px;
  left: 273px;
  top: 225px;

  background: #007A14;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button-turquoise {
  position: absolute;
  width: 130px;
  height: 41px;
  left: 167px;
  top: 282px;

  /* green turquoise */

  background: #137E58;
  border-radius: 5px;
}

.button-gradient {
  position: absolute;
  width: 190px;
  height: 53px;
  left: 167px;
  top: 469px;

  background: linear-gradient(180deg, #137E58 0%, #0A4113 100%);
  border-radius: 10px;
}

.button-large-pale-green {
  position: absolute;
  width: 120px;
  height: 41px;
  left: 287px;
  top: 550px;

  /* pale green */

  background: #D5EAE2;
  border-radius: 10px;
  transform: matrix(-1, 0, 0, 1, 0, 0);
}

.button-medium-pale-green {
  position: absolute;
  width: 91px;
  height: 23px;
  left: 167px;
  top: 618px;

  background: #D5EAE2;
  border-radius: 3px;
}

.button-small-pale-green {
  position: absolute;
  width: 93px;
  height: 16px;
  left: 167px;
  top: 655px;

  background: #D5EAE2;
  border-radius: 3px;
}
