.carousel {
  margin-bottom: 65px;
  width: 40%;
}

.carousel-inner {

}


.carousel-caption {
  position: initial !important;
  text-align: -webkit-center;
  h5 {
    color: $green-turquoise;
    font-size: 24px;
    font-weight: bold;
    margin: 0;
    margin-top: 10px;
    width: 250px;
    text-align: center;
  }
}

.carousel-item {
  text-align: center;
  position: initial !important;
  margin-bottom: 20px;
  img {
    height: 170px;
  }
}

.carousel-indicators {
  margin-bottom: 0;
}

.carousel-control-prev-icon {
  color: black;
}

.active {
  width: 100%;
}
