.junk-card {
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  height: 21em;
  width: 16em;

  border-radius: 10px;
  background-color: $lighter-grey;
  margin: 0;
  padding: 0;

  img {
    height: 14em;
    width: 100%;
    object-fit: cover;
  }
}

.junk-card-img {
  position: relative;

  p {
    color: $green;
    font-family: stardos stencil;
    font-weight: bold;
    font-size: 20px;
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    padding-right: 10px;
    z-index: 1;
  }
}

.donation {
  position: absolute;
  top: 22px;
  margin: 0;
  right: 10px;
  transform: rotate(-20deg);
}

.junk-card-content {
  padding-left: 10px;
  padding-right: 10px;
  height: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;

  h2 {
    font-family: $body-font;
    color: black;
    font-size: 1em;
    font-weight: bold;
    text-decoration: none;
    padding-top: 5px;
    padding-bottom: 5px;
    margin: 0;
  }

  p {
    font-family: $body-font;
    color: black;
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 5px;
    flex: 1 1 0%;
  }
}

.price-delivery {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.junk-card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;

  p {
    font-size: 10px;
    display: inline;
  }

  i {
    color: black;
  }
}

.address-date {
  line-height: 12px;
  p {
    margin-bottom: 5px;
    color: $grey;
    font-weight: bold;
    font-size: 10px;
    display: inline;
  }
}

.junk-card-icon {
  display: flex;
  width: 60px;
  font-size: 15px;
  justify-content: center;
  align-items: center;


  i {
    margin: 5px;
  }
}

.heart {
  .fa-regular {

  }

  .fa-solid {
    color: red;
  }
}
