.junk-service-container {

  width: 800px;
  margin: auto;
  padding: 10px;
}

.junk-service-form {
  display: flex;
  height: 700px;
  width: 800px;
  justify-content: center;
  align-content: center;
  margin: auto;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;
}

.junk-service-tabs {
  margin: 10px;
  text-decoration: none;
}
