.junk-service-main-container {
  margin-top: 65px;
}

//This is to align the tabs with the form card below
.junk-service-sub-container {
  width: 1125px;
  margin: auto;
  padding: 10px;
}

.junk-service-form {
  // display: flex;
  height: 850px;
  width: 1125px;
  justify-content: center;
  align-content: center;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
  padding: 20px;

}

.junk-service-tabs-wrap {
  height: 40px;

}

.junk-service-tab {
  display: inline-block;
  justify-items: center;
  height: 30px;
  width: 120px;
  padding: 5px;
  text-decoration: none;
  border-radius: 5px 5px 0 0;
  color: $green;
  background: $light-grey;
  text-align: center;

}

.junk-service-tab:hover {
  color: $green;
  background: $pale-green;
}

.junk-service-tab-active {
  padding-top: 15px;
  height: 40px;
  color: $green;
  background: $pale-green;
  justify-self: center;

}

.junk-service-tab-active span {
  padding-bottom: 10px;
}

.tab-margin {
  margin-top: 10px;
}
