.service-card {
  display: flex;
  flex-direction: row;
  gap: 25px;
  width: 1074px;
  height: 86px;
  margin-left: 20px;
  margin-bottom: 25px;
  border-radius: 25px 10px 10px 25px;
  background-color: $light-grey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 5px;

  p {
    color: black;
  }

  i {
    color: rgb(36, 36, 36);
  }

}

.service-card-clickable {
  display: flex;
}

.service-card-img {
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid white;
  width: 100px;
}

.service-card-heading {
  width: 200px;
  margin-left: 10px;

}

.service-card-name {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: bold;
}

.service-card-craft {
  font-size: 17px;
}

.service-card-address {
  width: 120px;
}

.service-card-description {
  width: 400px;
  margin-left: 10px;
}

.service-card-specialities {
  width: 150px;
}

.speciality-btn {
  background-color: $pale-green;
  color: black;
  border-radius: 10px;
  padding: 2px 4px 2px 4px;

}

.service-card-icon {
  display: flex;
  width: 60px;
  font-size: 15px;
  justify-content: center;
  align-items: center;
  margin: 10px;
  padding: 10px;

  i {
    margin: 5px;
  }
}


.service-content-left {
  padding-left: 120px;
}

.service-card-font {
  // font-family: $body-font;
  font-size: 12px;
}
