.service-card {
  display: flex;
  flex-direction: row;
  gap: 15px;
  width: 1074px;
  height: 86px;
  margin-left: 20px;
  margin-bottom: 25px;
  border-radius: 25px 10px 10px 25px;
  background-color: $light-grey;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  padding: 5px;

  p {
    color: black;
  }

  i {
    color: rgb(36, 36, 36);
  }

}

.service-card-clickable {
  display: flex;
}

.service-card-img {
  margin-left: -10px;
  margin-top: -10px;
  border: 2px solid white;
  width: 100px;
}

.service-card-heading {
  width: 200px;
  margin-left: 10px;

}

.service-card-name {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: bold;
}

.service-card-craft {
  font-size: 17px;
}

.service-card-address {
  width: 150px;
}

.service-card-description {
  // width: 400px;
  flex: 1;
}

.service-card-specialities {
  width: 150px;
  overflow: hidden;
  text-overflow: "...";

  &:hover {
    overflow: scroll;
  }
}

.speciality-btn {
  background-color: $light-green;
  color: black;
  border-radius: 10px;
  padding: 1px 4px 1px 4px;
  margin-bottom: 1px;
}

.service-content-left {
  padding-left: 120px;
}

.service-card-font {
  // font-family: $body-font;
  font-size: 12px;
}
