.service-card {
  display: grid;
  position: relative;
  gap: 20px;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  width: 1074px;
  margin-left: 20px;
  height: 86px;
  border-radius: 25px 10px 10px 25px;
  background-color: $light-grey;
  padding: 5px;

  p {
    color: black;

  }

  i {
    color: rgb(36, 36, 36);
  }

}

.service-card-img {
  position: absolute;
  left: -10px;
  top: -10px;
  border: 2px solid white;
}

.service-card-col4 {
  grid-template-columns: 30% 10% 35% 10% 10%;
  // margin: 30px 0;

  div {
    overflow: hidden;
  }
}

.service-card-name {
  font-family: $headers-font;
  font-size: 16px;
  font-weight: bold;

}

.service-content-left {
  padding-left: 120px;
}

.service-card-craft {
  font-size: 17px;
}

.service-card-font {
  // font-family: $body-font;
  font-size: 12px;
}
