.projects-title {

  h1 {
    position: relative;
    font-family: $headers-font;
    font-size: 68px;
    font-weight: bold;
    color: $pink;
    z-index: 1;
  }

  .title-panel {
    background-color: white;
    width: 287px;
    height: 55px;
    position: absolute;
    top: 32px;
    left: 315px;
  }
}
