.full-title-ad {
  display: flex;
  flex-direction: column;
  position: relative;
  text-align: center;
  margin-top: 110px;
  margin-bottom: 70px;
}

.post-title {

  h1 {
    position: relative;
    font-family: $headers-font;
    font-size: 68px;
    font-weight: bold;
    color: $green;
    margin: 0;
    z-index: 1;
  }

  #pale-green {
    color: $pale-green;
  }

  .title-panel-ad {
    background-color: $pale-green;
    width: 217px;
    height: 65px;
    z-index: 0;
    position: absolute;
    top: -15px;
    left: 800px;
  }
}
