.junk-title {
  position: relative;

  h1 {
    font-family: $headers-font;
    font-size: 68px;
    font-weight: bold;
    color: $green;
    margin: 0;
  }

  #pale-green {
    color: $pale-green;
  }

  .title-panel {
    background-color: $pale-green;
    width: 280px;
    height: 50px;
    z-index: -1;
    position: absolute;
    top: 42px;
    right: -4px;
  }
}
