.projects-title {
  position: relative;

  h1 {
    font-family: $headers-font;
    font-size: 68px;
    font-weight: bold;
    color: $pink;
    margin: 0;
    z-index: 1;
  }

  .title-panel {
    background-color: white;
    width: 287px;
    height: 55px;
    z-index: -1;
    position: absolute;
    top: 32px;
    left: 240px;
  }
}
