.full-title-ad {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-right: 20px;
  text-align: center;
}

.ad-title {

  h1 {
    position: relative;
    font-family: $headers-font;
    font-size: 68px;
    font-weight: bold;
    color: $green;
    margin: 0;
    z-index: 1;
  }

  #pale-green {
    color: $pale-green;
  }

  .title-panel {
    background-color: $pale-green;
    width: 333px;
    height: 55px;
    z-index: 0;
    position: absolute;
    top: 32px;
    right: -4px;
  }
}
