body{
  display: flex;
  align-items: center;
  width: 100%;
  overflow: hidden;
}

.slide-container {
  margin-left: 150px;
  margin-right: 150px;
  height:85vh;
  display: flex;
  align-items: center;
  overflow: hidden;

}

.image-slider{
  width: 100%;
  height: 600px;
  position: absolute;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 1s;
}

.slides-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 30px;
}

.img{
  position: relative;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

.button {
  position: absolute;
  width: 240px;
  height: 370px;
  transition: 0.5s;
}

#slider-span1:target ~ .image-slider #img1,
#slider-span1:target ~.image-slider #button-1{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span2:target ~ .image-slider #img2,
#slider-span2:target ~.image-slider #button-2{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span3:target ~ .image-slider #img3,
#slider-span3:target ~.image-slider #button-3{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span4:target ~ .image-slider #img4,
#slider-span4:target ~.image-slider #button-4{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span5:target ~ .image-slider #img5,
#slider-span5:target ~.image-slider #button-5{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span6:target ~ .image-slider #img6,
#slider-span6:target ~.image-slider #button-6{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span7:target ~ .image-slider #img7,
#slider-span7:target ~.image-slider #button-7{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span8:target ~ .image-slider #img8,
#slider-span8:target ~.image-slider #button-8{
  width:380px;
  height: 585px;
  background-color: transparent;
}
#slider-span9:target ~ .image-slider #img9,
#slider-span9:target ~.image-slider #button-9{
  width:380px;
  height: 585px;
  background-color: transparent;
}

#slider-span1:target ~.image-slider{
  left:20%;
}
#slider-span2:target ~.image-slider{
  left:0%;
}
#slider-span3:target ~.image-slider{
  left:-20%;
}
#slider-span4:target ~.image-slider{
  left:-20%;
}
#slider-span5:target ~.image-slider{
  left:-20%;
}
#slider-span6:target ~.image-slider{
  left:-20%;
}
#slider-span7:target ~.image-slider{
  left:-20%;
}
#slider-span8:target ~.image-slider{
  left:-20%;
}
#slider-span9:target ~.image-slider{
  left:-20%;
}
